<section class="user-s1 container-fluid d-flex align-items-center py-5 bg-dark minh-100vh">
    <div class="row mx-0 w-100 pt-5">
        <div class="col-11 col-sm-8 col-md-7 col-lg-6 mx-auto">
        <div class="card opacity-9 bg-dark">
            <div class="card-header">
                <h6 class="text-white text-uppercase my-1">
                    Register
                </h6>
            </div>
            <div class="card-body">
                <form class="text-start">
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">First name</label>
                        <input class="form-control rounded-pill" 
                            type="text" 
                            name="ffirstname" 
                            placeholder="Enter first name"
                            maxlength="80"/>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Last name</label>
                        <input class="form-control rounded-pill" 
                            type="text" 
                            name="flastname" 
                            placeholder="Enter last name"
                            maxlength="80"/>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Phone</label>
                        <input class="form-control rounded-pill" 
                            type="tel" 
                            name="fphone" 
                            placeholder="Enter phone"
                            maxlength="80"/>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Email</label>
                        <input class="form-control rounded-pill" 
                            type="email" 
                            name="femail" 
                            placeholder="Enter email"
                            maxlength="80"/>
                    </div>     
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Password</label>
                        <input class="form-control rounded-pill" 
                            type="password" 
                            name="fpass1" 
                            placeholder="Enter password"
                            maxlength="80"/>
                    </div>   
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Password (repeat)</label>
                        <input class="form-control rounded-pill" 
                            type="password" 
                            name="fpass1" 
                            placeholder="Repeat password"
                            maxlength="80"/>
                    </div>                              
                    <div class="w-100 small border-bottom pt-2">
                        <p class="ms-3 text-white">
                            Registered? 
                            <a routerLink="/login" class="fw-bold text-decoration-none text-white">Sign in</a>
                        </p>
                    </div>
                    <div class="w-100 text-end py-3">
                        <input type="reset" class="btn btn-outline-light rounded-pill me-2" value="Clear"/>
                        <input type="submit" class="btn btn-outline-light rounded-pill" value="Accept"/>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</section>