<section class="index-s1 container-fluid d-flex minh-100vh align-items-center py-5">
    <div class="row mx-0 w-100 mt-5 mt-md-0">
        <div class="col-12 col-md-6 offset-md-6 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start text-shadow"> 
                <img src="img/navbar_logo.png" class="img-fluid" alt="logo"/>
                <h2 class="display-6 text-white-50 text-uppercase">
                    Lorem ipsum dolor
                </h2>
                <p class="initialism text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                    quae ab illo inventore veritatis et quasi architecto beatae vitae 
                    dicta sunt explicabo. 
                </p>
                <a routerLink="/" class="btn btn-outline-light rounded-pill">Lorem ipsum!</a>
            </div>
        </div>
    </div>
</section>